                <div class="search_from features">
                    <div class="search_container features_container">
                        <div class="search_title"><h3>特集から探す</h3></div>
                        <div class="items">
                            <ul>
                                <li class="item"><a href="#">野菜</a></li>
                                <li class="item"><a href="#">果物</a></li>
                                <li class="item"><a href="#">肉</a></li>
                                <li class="item"><a href="#">魚介類</a></li>
                                <li class="item"><a href="#">卵・乳製品</a></li>
                                <li class="item"><a href="#">お酒</a></li>
                                <li class="item"><a href="#">調味料</a></li>
                            </ul>
                        </div>
                    </div>
                </div>