<% provide(:title, "編集") %>
<% provide(:button_text, "更新する") %>
    <section class="signIn">
        <div class="signIn_container">
            <div class="signIn_area side2">
                <div class="signIn_title"><h3>情報の更新</h3></div>
                <%= render "form"%>
            </div>
        </div>
    </section>