<% provide(:title, "新規登録") %>
    <section class="signIn">
        <div class="signIn_container">
            <div class="signIn_area side2">
                <div class="signIn_title"><h3>新規登録</h3></div>
                <div class="enter_container">
                    <form class="new_user" action="" method="post">
                        <label for="" class="label_field">氏名</label>
                        <input type="text" class="form_area">
                        <label for="" class="label_field">Email</label>
                        <input type="text" class="form_area">
                        <label for="" class="label_field">電話番号</label>
                        <input type="text" class="form_area">
                        <label for="" class="label_field">パスワード</label>
                        <input type="text" class="form_area">
                        <label for="" class="label_field">パスワード確認</label>
                        <input type="text" class="form_area">
                        <input type="submit" value="登 録" class="signin_btn">
                    </form>
                </div>
            </div>
        </div>
    </section>