<% provide(:title, "新規登録") %>
<% prodive(:button_text, "登録") %>
    <section class="signIn">
        <div class="signIn_container">
            <div class="signIn_area side2">
                <div class="signIn_title"><h3>新規登録</h3></div>
                <%= render "form" %>
            </div>
        </div>
    </section>

    <p>aaa</p>
    <p>bbb</p>
    