// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main {
    .main_container {
        margin-top: 5rem;
        display: flex;
        justify-content: space-between;
        .search_area {
            width: 25%;
            .search_from {
                background-color: #F5F3E9;
                border-radius: 10px;
                padding: 10px 20px;
                &.features {
                    margin-top: 3rem;
                }
                .search_container {
                    .search_title {
                        background-image: url("../assets/images/line.png");
                        background-repeat: no-repeat;
                        background-position: 50% 80%;
                        text-align: center;
                        padding-bottom: 20px;
                    }
                    .items {
                        ul {
                            padding-left: 0;
                            li {
                                list-style: none;
                                border-bottom: solid 2px #fff;
                                &.item {

                                }
                                a {
                                    display: block;
                                    text-decoration: none;
                                    color: #000000;
                                    padding: 15px 0 15px 20px;
                                    font-weight: 900;
                                }
                            }
                        }
                    }
                }
            }
        }
        .main_area {
            width: 70%;
            .main_collection {
                margin-top: 3rem;
                .products_collection {
                    .products_search {
                        background-color: #F2F2F2;
                        border-radius: 10px;
                        text-align: center;
                        padding: 30px 20px;
                        display: flex;
                        font-weight: 700;
                    }
                    .products_contents {
                        .products_content {
                            display: flex;
                            margin-top: 3rem;
                            flex-wrap: wrap;
                            flex-flow: row wrap;
                            align-content: flex-start;
                            .product {
                                margin-top: 2rem;
                                width:23%;
                                display: flex;
                                flex-direction: column;
                                a {
                                    border-radius: 10px;
                                    text-decoration: none;
                                    color: #000000;
                                    transition: all 0.5s;
                                    padding-bottom: 10px;
                                    margin-right: 10px;
                                    margin-left: 10px;
                                    &:hover {
                                        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
                                    }
                                    .product_image {
                                        height: 200px;
                                        img {
                                            max-width: 100%;
                                            border-radius: 10px 10px 0 0;
                                        }
                                    }
                                    .product_name {
                                        padding-right: 10px;
                                        padding-left: 10px;
                                        height: 60px;
                                        h3 {
                                            font-size: 18px;
                                            margin: 0;
                                        }
                                    }
                                    .product_tag {
                                        padding-left: 10px;
                                        height: 80px;
                                        .tag_area {
                                            margin-top: 5px;
                                            background-color: #F5F3E9;
                                            padding: 5px 8px;
                                            display: inline-block;
                                            border-radius: 5px;
                                            font-size: 12px;
                                            font-weight: 600;
                                            span {
                                                margin-right: 5px;
                                                .tag {
                                                    font-size: 0.6rem;
                                                }
                                            }
                                        }
                                    }
                                    .product_price {
                                        padding-right: 10px;
                                        text-align: end;
                                        font-weight: 900;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.resister {
    .resister_container {
        margin-top: 3rem;
        .resister_area {
            .resister_title {
                padding: 10px 20px;
                background-color: #F1F1F1;
                border-radius: 10px;
                h3 {

                }
            }
            .enter_container {
                margin-top: 2rem;
                padding: 1rem 3rem;
                form {
                    display: flex;
                    flex-direction: column;
                    .label_field {

                    }
                    .form_area {
                        margin-bottom: 2rem;
                        padding: 10px 10px;
                        font-size: 15px;
                        border-radius: 5px;
                        outline : none;
                        border: 1px solid #afafaf;
                    }
                    .resister_btn {
                        border: none;
                        background-color: #CAB270;
                        width: 20%;
                        margin: 2rem auto 0;
                        font-weight: 700;
                        font-size: 15px;
                        border-radius: 5px;
                        padding: 5px 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}