<section class="footer">
        <div class="footer_container">
            <div class="footer_area">
                <div class="footer_block">
                    <div class="each_section use">
                        <div class="footer_title">利用する</div>
                        <ul>
                            <li>
                                <a href="">新規登録</a>
                            </li>
                            <li>
                                <%= link_to "ログイン", signup_path%>
                            </li>
                            <li>
                                <a href="">投稿する</a>
                            </li>
                            <li>
                                <a href="">退会する</a>
                            </li>
                        </ul>
                    </div>
                    <div class="each_section buy">
                        <div class="footer_title">購入する</div>
                        <ul>
                            <li>
                                <a href="">初めての方へ</a>
                            </li>
                            <li>
                                <a href="">ご利用ガイド</a>
                            </li>
                            <li>
                                <a href="">品質保証について</a>
                            </li>
                            <li>
                                <a href="">飲食店の方へ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="each_section about">
                        <div class="footer_title">ととろぐ農園について</div>
                        <ul>
                            <li>
                                <a href="">運営会社</a>
                            </li>
                            <li>
                                <a href="">よくあるご質問</a>
                            </li>
                            <li>
                                <a href="">お問い合わせ</a>
                            </li>
                            <li>
                                <a href="">利用規約</a>
                            </li>
                            <li>
                                <a href="">プライバシーポリシー</a>
                            </li>
                            <li>
                                <a href="">特定商取引法</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>